<!-- todo_list.html -->
{% extends 'users/base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="mb-4">Todo List</h2>
    <form method="POST">
      <a href="{% url 'create_todo_list' %}" class="btn btn-primary">Add List</a>

    </form>
    <hr>
    <ul class="list-group">
      {% for todo in todo_list %}
        <li class="list-group-item">
          <a href="{% url 'todo_list_detail' pk=todo.id %}" class="btn btn-primary">{{ todo.title }}</a>
          <a href="{% url 'delete_todo_list' pk=todo.id %}" class="btn btn-danger">Delete</a>
        </li>
      {% empty %}
        <li class="list-group-item">No tasks found.</li>
      {% endfor %}

    </ul>
  </div>
</div>
{% endblock %}
